    body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    /* setting height would affect back to top feature; FIX THAT */
    /* height: 100%; */
    overflow-x: hidden;
  }
  
  body{
      background-color: #232375;
      color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  header, nav, footer, section, article, div {
    box-sizing: border-box;
  }

  .container-fluid {
      padding: 0;
  }

  

  /* HEADER */

  header {
      width: 100%;
      margin-top: -3em;
      padding: 0;
      background-color: white;
      position: fixed;
      
  }

.pull-right{
    padding-top: 1.2em;
}

.pull-right a {
    color: rgb(35, 35, 117);
    font-size: 2em;
    font-weight: bolder;
}

.last {
    margin-right: 3em;
}


/* HAMBURGER AND SIDE MENU  */

.hamburger svg {
    float: left;
    margin: 1em 0 0.5em 1em;
}

.side-nav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(57, 57, 136);
    opacity: 0.8;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.5s;
    text-align: center;
}

.side-nav a:hover {
    font-size: 28px;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 23px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav .btn-close:hover {
    font-size: 45px;
}

main {
    transition: margin-top 0.5s;
}

/* .side-nav a {
    float: left;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
} */



/* MAIN */

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    margin-top: 2em;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase
}

.description {
    font-size: 2em;
    margin-bottom: 3em;
    color: rgb(231, 231, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* search form */


#searchForm {
    margin: auto 1em;
}


/* SearchInputs and Button */

#searchInput {
    border: none;
    border-radius: 4px;
    margin-right: 1.5em;
    padding: 1.25em 2em;
    width: 55%;
    color: rgb(59, 53, 53);
    /* color: rgb(35, 35, 117); */
    font-weight: bold;
}

#searchButton {
    background-color: white;
    color: navy;
    border-radius: 5px;
    padding: 0.6em 1.5em; 
    font-size: 20px; 
    margin-left: 2em;  
}


/* RESPONSE CONTAINER */

div #loading {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    margin-top: 5em;
    /* transform: rotate(0deg); */
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
    border-radius: 100%;
    margin-bottom: 2em;
}

/* .rotate {
    transition: all 0.5s;
    transform: rotate(20deg);

} */

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 3em;
}



/* CARD */

div .card {
    /* border: solid 1px #dbe2e8; */
    box-shadow: inset 0 0 20px 0 rgba(190, 189, 192, 0.5);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5em;
    border-radius: 20px;
    color: rgb(215, 215, 235)
}

div .card:hover {
    box-shadow: inset 0 0 20px 0 rgba(245, 244, 244, 0.9);
    transition: all 0.7s;
    width: 55%;
}


/* FIGURE */

figure {
    margin: 0;
    /* position: relative; */
    text-align: center;
}

/* figcaption {
    position: absolute;
    bottom: 5px;
} */

figcaption strong {
    font-size: 1.3em;
    color: snow;
    font-style: italic;
}

figcaption em {
    color: rgb(230, 230, 247);
}


/* CARD BODY */

.card-body {
    border-left: solid 2px rgb(230, 230, 247);
    border-bottom: solid 2px rgb(230, 230, 247);
    border-right: solid 2px rgb(230, 230, 247);
    border-radius: 10px;
    margin-bottom: 0.5em;
}

.card-body h3 a {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration-line: none;
}

.card-body h3 {
    margin-top: 1.2em;
}

.card-body h3 a:hover {
    text-decoration-line: underline;
}

.card-body .subtitle {
    margin-top: -0.5em;
    /* font-weipght: bold; */
    color: rgb(241, 241, 247);
    font-style: italic;
    /* font-size: 1em; */
}

.card-text {
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-size: 1.3em;
    min-width: 0;
    overflow: hidden;
    /* float: left;    */
}

.google-search {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.google-search a {
    color: rgb(189, 189, 219);
    font-style: italic;
    font-weight: bold;
    /* opacity: 0.8; */
}

/* BACK TO TOP BUTTON */

.back-to-top {
    transition: 1s;
    background-color: inherit;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    border-style: none;
    color: rgb(132, 132, 230);
}

.hide {
    display: none;
}

.back-to-top:hover {
    transition: 1s;
    font-size: 3em;
    background-color: inherit;
    bottom: 40px;
    color: rgb(245, 245, 248);
}


.error-message {
    font-size: 1.5em;
    margin-top: 2em;
}



/* RESPONSIVE DESIGN */

@media(max-width:700px) {
    .pull-right a {
        font-size: 1.6em;
    }
    
    .last {
        margin-right: auto;
    }
}

@media(max-width: 570px) {
    .nav li {
        display: none;
    }

    .back-to-top {
        position: fixed;
        bottom: 10px;
        right: 0px;
        font-size: 1.6em;
    }
}

@media(min-width:570px) {
    .hamburger {
        display: none;
    }
}



@media (max-width: 540px) {

    div .card {
        width: 80%;
    }

    div .card:hover {
        width: 90%;
    }

}

@media (max-width: 250px) {
    #searchInput {
        margin: 0;
    }
    #searchButton {
        margin: 0;
    }
}

.form-group label, span {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    /* font-family: 'Courier New', Courier, monospace; */

}



