
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #3b5998;
    height: 63px;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: #000;
    border-radius: 5px;
}

/* .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    height: 250px;
} */

.side-nav {
    /* height: 100%; */
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    /* my styling */
    height: 250px;
}

/* .side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(170, 165, 165);
    display: block;
    transition: 0.5s;
    text-align: center;
} */

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(170, 165, 165);
    display: block;
    transition: 0.5s;
    text-align: center;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav .btn-close:hover {
    font-size: 45px;
}

/* main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
} */


main {
    transition: margin-top 0.5s;
    padding: 20px;
    overflow: hidden;
    /* width: 100%; */
}

/* ADDING MEDIA QUERIES */

@media(max-width:510px) {
    .main-menu {
        display: none;
    }
}

@media(min-width:511px) {
    .hamburger {
        display: none;
    }
}