body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body{
      background-color: grey;
      color: black;
  }
  
  
  header, nav, footer, section, article, div {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: border-box;
  }

  /* HEADER */

  header {
      background-color: firebrick;
      width: 100%;
  }

  .heading {
      width: 100%;
      margin : 0;
      padding: 0;
  }

.pull-right{
	font-family: lobster;
    font-size: 1.7em;
    padding-top: 1.2em;
}


.logo{
	height: 3.5em;
	width: 5.5em;
}

/* .menu {
    font-size: 1.5em;
} */

/* input {
    background-color: lightgray
} */